include/*.h
lib/*.so
UserTools/*/*.o
DataModel/*.o
ToolDAQ
main
RemoteControl
NodeDaemon

*~




	rm -f include/*.h
	rm -f lib/*.so
	rm -f main
	rm -f RemoteControl
	rm -f NodeDaemon
	rm -f UserTools/*/*.o
	rm -f DataModel/*.o
